<launch>

    <param name="tf_prefix" value="drone_0" />
    
    <!-- Simulator -->
    <arg name="gazebo_gui" default="true"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find agri_resources)/worlds/playground.world"/>
        <arg name="gui" value="$(arg gazebo_gui)"/>
    </include>

    <!-- Controller -->
    <arg name="fcu_url" default="udp://127.0.0.1:14550@" />
	<arg name="gcs_url" default="" />
    <arg name="mavros_ns" default="/"/>
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
    <arg name="pluginlists_yaml" default="$(find mavros)/launch/apm_pluginlists.yaml"/>
	<arg name="config_yaml" default="$(find mavros)/launch/apm_config.yaml" />
	<arg name="log_output" default="screen" />
    <arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="true"/>
    
    <node pkg="mavros" type="mavros_node" name="mavros" required="$(eval not respawn_mavros)" clear_params="true" output="$(arg log_output)" respawn="$(arg respawn_mavros)" ns="$(arg mavros_ns)">
		<param name="fcu_url" value="$(arg fcu_url)" />
		<param name="gcs_url" value="$(arg gcs_url)" />
		<param name="target_system_id" value="$(arg tgt_system)" />
		<param name="target_component_id" value="$(arg tgt_component)" />
		<param name="fcu_protocol" value="$(arg fcu_protocol)" />

		<rosparam command="load" file="$(arg pluginlists_yaml)" />
		<rosparam command="load" file="$(arg config_yaml)" />

        <remap from="/mavros/local_position/odom" to="drone_0_visual_slam/odom"/>
        <remap from="/mavros/setpoint_raw/local" to="/drone_0_mavros/pos_cmd"/>
	</node>

    <!-- Navigation -->
    <arg name="map_size_x" value="200.0"/>
    <arg name="map_size_y" value="200.0"/>
    <arg name="map_size_z" value=" 3.0"/>
    <arg name="odom_topic" value="visual_slam/odom" />

    <include file="$(find swarm_bridge)/launch/bridge_udp.launch">
        <arg name="drone_id" value="999"/>
        <arg name="broadcast_ip" value="127.0.0.255"/>
    </include>
    <include file="$(find ego_planner)/launch/include/run_in_mavros.xml">
        <arg name="drone_id" value="0"/>
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="flight_type" value="1"/>
    </include>

    <!-- Visualization -->
    <arg name="model" default="$(find agri_resources)/urdf/drones/iris_with_realsense.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model) use_nominal_extrinsics:=true add_plug:=true" />

    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
        <param name="tf_prefix" value="drone_0" />
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ego_planner)/launch/include/mavros.rviz" required="true" />
    <node pkg="visualization_bridge" name="sensor_visualization_node" type="sensor_visualization_node" output="screen">
        <param name="display_objects" type="bool" value="false"/>
        <param name="drones_num" type="int" value="1"/>
    </node>

    <!-- Estimator -->
    <arg name="config_path" default = "$(find agri_resources)/config/drones/iris_with_realsense/vins.yaml" />
	<arg name="vins_path" default = "$(find agri_resources)/config/drones/" />
    
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <!-- <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="visualization_shift_x" type="int" value="0" />
        <param name="visualization_shift_y" type="int" value="0" />
        <param name="skip_cnt" type="int" value="0" />
        <param name="skip_dis" type="double" value="0" />
    </node> -->

</launch>